body {
    border-left: 5vw solid #992f33;
    min-height: 100vh;
    min-width: 100vw; /*has to be able to overflow for the js to work*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#content {
    min-width: 100%; /*has to be able to overflow for the js to work*/
    min-height: 100%;
    border-left: 1vw solid #384a75;
    box-sizing: border-box;
    padding-top: 1%;
    padding-left: 1%;
}
h1 {
    margin-top: 0;
    font-size: 4em;
    margin-bottom: 1%;
    color: #23507f;
}
h1 span {
    color: #95302e;
}
h3 {
    color: #7b7973;
    letter-spacing: 2px;
    text-transform: uppercase;
}
h4 {
    color: #7b7973;
    text-transform: uppercase;
}
td {
    padding-right: 10px;
    color: #292744;
    font-weight: 600;
}
#github {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer
}
#trump {
    position: absolute;
    top: 5vh;
    right: 5vw;
    border-radius: 50%;
    width: 20vw;
    z-index: -1;
    border-top-left-radius: 0;
    opacity: 50%;
}